* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body{
    color: #333;
    background-color: aliceblue;
}


.modal{
    display: none;
}

.wrap{
    width: 1000px;
    display: flex;
}

.header{
    width: 200px;
}

.logo{
    padding: 50px 0;

}

.logo img{
    width: 200px;

}

.gnb{

}

.gnb ul{

}

.gnb > li > a{
    text-align: center;
    padding: 10px;
    display: block;
    border: 1px solid #999;
}

.gnb > li > a:hover{
    color: orangered;
    font-weight: bold;

}

.gnb ul a{
    display: block;
    text-align: center;
    padding: 10px;
}


.gnb > ul > a:hover{
    background-color: #eee ; 
    font-weight: bold;
}

.gnb_container{
    padding: 0 10px;
}

.main{
    width: 800px;
}